# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment
.env
venv/
env/
ENV/

# Output and temp files
output/temp/
output/cleaned_images/
output/rendered_videos/
database/*.db

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
